services:
  tcp_proxy:
    image: alpine/socat
    container_name: tcp_proxy
    networks:
      lbnet0:
    ports:
      - 27017:27017
    command:
      - TCP4-LISTEN:27017,fork
      - TCP4:11.11.11.20:27017

  lb:
    image: lb:v1
    container_name: lb
    entrypoint: /bin/sh
    command:
      - -c
      - /opt/lb-easy.sh
    networks:
      lbnet0:
        ipv4_address: 11.11.11.20
    cap_add:
      - NET_ADMIN
    build:
      context: lb


  node1:
    image: nginx
    container_name: node1
    hostname: node1
    networks:
      lbnet0:
        ipv4_address: 11.11.11.7
    volumes:
      - ./31-create-index.sh:/docker-entrypoint.d/31-create-index.sh

  node2:
    image: nginx
    container_name: node2
    hostname: node2
    networks:
      lbnet0:
        ipv4_address: 11.11.11.8
    volumes:
      - ./31-create-index.sh:/docker-entrypoint.d/31-create-index.sh

  node3:
    image: nginx
    container_name: node3
    hostname: node3
    networks:
      lbnet0:
        ipv4_address: 11.11.11.9
    volumes:
      - ./31-create-index.sh:/docker-entrypoint.d/31-create-index.sh


networks:
  lbnet0:
    driver: bridge
    ipam:
     config:
       - subnet: 11.11.11.0/24
